<h1>Copy.<span>CAKE</span></h1>

<div class="login__windows">

  <h5>Reset password</h5>

  <div class="organize__form__reset">

    <app-send-token
      *ngIf="actualActiveCard == activeCardEnum.sendToken"
      (changeCard)="cardCheckingToken($event)"></app-send-token>

    <app-check-token
      [email]="email"
      (changeCard)="cardNewPassword($event)"
      *ngIf="actualActiveCard == activeCardEnum.checkToken"></app-check-token>

    <app-new-password
      [email]="email"
      [transferToken]="transferToken"
      *ngIf="actualActiveCard == activeCardEnum.newPassword"></app-new-password>

  </div>

</div>

