<div class="show__confirm">
  <form [formGroup]="formManager" (ngSubmit)="submit()">

    <app-input-text
      [FormManager]="formManager"
      [typeText]="'password'"
      [nameInput]="'newPassword'"
      [label]="'Password'"
      [invalid]="submitted && valid.newPassword.errors"
    ></app-input-text><br><br>

    <app-input-text
      [FormManager]="formManager"
      [typeText]="'password'"
      [nameInput]="'retryNewPassword'"
      [label]="'New password'"
      [invalid]="submitted && valid.retryNewPassword.errors"
    ></app-input-text><br><br>

    <button>
      <i class="icon-floppy"></i>&nbsp;Save
    </button>

    <app-preloaders *ngIf="load"></app-preloaders>
  </form>
</div>
