@import "../../../../../assets/color";
@import "../../../../../assets/header-manager";
form{
  padding: 0 40px 30px 40px;
}
.button{
  margin: 12px 30px -5px 0;
  width: 131px;
  height: 34px;
}
.save__line{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
}
.rightSide{
  justify-content: flex-end;
}
.form-input{
  padding: 20px;
  margin-top: -18px;
}
.hr__line{
  background-color: $border-bottom;
  height: 2px;
  width: 100%;
}
h4{
  color: $textColor;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  margin-top: 15px;
  margin-bottom: 15px;
}
