$error: #e3081e;
$pink: #F39B93;
$blue: #00ACA9;
$placeholder: #A7A8AA;
$textColor: #4F5256;
$hoverColor: rgba(162, 162, 162, 0.09);
$colorRoute: #6C7177;
$backgroundColor: #EFEFEF;
$hrLine: #EFEFEF;
$border-bottom: #DBDBDB;
